@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply mt-1 w-full border-gray-200 bg-white text-sm text-gray-700 shadow-sm;
  }
  .btn-menu {
    @apply relative flex rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700;
  }
  .btn-menu-active {
    @apply relative flex rounded px-2 py-1.5 bg-blue-500 text-white;
  }
  .btn-primary {
    @apply inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500;
  }
  .btn-delete {
    @apply inline-block shrink-0 rounded-md border border-red-600 bg-red-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500;
  }
  .label {
    @apply block text-sm font-medium text-gray-700;
  }
  .label-form {
    @apply block text-gray-700 text-base font-medium;
  }

  .td {
    @apply whitespace-nowrap px-5 py-2 text-gray-700;
  }

  .th {
    @apply hover:cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900;
  }

  .li-active {
    @apply block size-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white hover:cursor-pointer;
  }

  .li {
    @apply block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900  hover:bg-gray-200 hover:cursor-pointer;
  }
  .chevron {
    @apply inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900  hover:bg-gray-200;
  }
  .container {
    @apply flex flex-col py-4 sm:px-6 lg:px-8;
  }
  .pagination {
    @apply mt-6 flex justify-between border-b border-gray-200;
  }
  .page-controller {
    @apply w-5 h-4 flex;
  }
  select {
    @apply border border-gray-300 rounded-sm;
  }
  .span-error {
    @apply text-xs text-red-500;
  }
}

@layer base {
  table {
    @apply border-spacing-0 border border-gray-300 bg-white text-left text-sm;
  }
  tr:last-child td {
    @apply border-b-0;
  }
  th,
  td {
    @apply m-0 p-1 border-b border-r border-gray-300;
  }
  tr:nth-child(odd) {
    @apply bg-gray-200 text-black;
  }

  tr:nth-child(even) {
    @apply bg-white text-black;
  }

  button {
    @apply border border-gray-300 px-2 py-1 rounded-sm active:border-gray-500 hover:bg-blue-400 hover:text-white;
  }
}
